@model ViewModels.EventViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Fiche d'un événement";
}

<p class="h1 mb-0">@Model.Event.Title</p>
<div class="row">
    <div class="col-md">
        @{
            String startDate = Model.Event.StartDate.ToLongDateString();
            String startTime = Model.Event.StartDate.ToShortTimeString();
        }

        <p class="h3 mb-0"><small class="text-muted mb-0">Le @startDate &agrave; @startTime</small></p>
        <!--
        <p class="h3 mb-0"><small class="text-muted mb-0">Date de fin @Model.Event.EndDate</small></p>
            <p class="h3 mb-0">
                <small class="text-muted mb-0">
                    Prix par participants
                    @Model.Event.PriceToPayToParticipate
                </small>
            </p>
            -->

        <p class="h4">
            <small class="text-muted">
                Organisé par <span class="eventorganizer"><a href="#">@Model.Event.ApplicationUser.FirstName</a></span>
            </small>
        </p>
        <!-- EVENT PARTICIPANTS START -->
        <div class="eventavatars">
            <ul class="eventavatars pl-0">
                <!-- Place user avatar first -->
                <li>
                    <img src="~/img/photos/maurice-richard.jpg" class="avatarmedium eventavatar rounded-circle"
                         data-toggle="tooltip" data-placement="top" title="moi" />
                </li>
                <li>
                    <img src="~/img/photos/henri-richard.jfif" class="avatarmedium eventavatar rounded-circle"
                         data-toggle="tooltip" data-placement="top" title="Henri Richard" />
                </li>
                <li>
                    <img src="~/img/photos/jean-beliveau.jfif" class="avatarmedium eventavatar rounded-circle"
                         data-toggle="tooltip" data-placement="top" title="Jean B&eacute;liveau" />
                </li>
                <li>
                    <img src="~/img/photos/larry-robinson.jfif" class="avatarmedium eventavatar rounded-circle"
                         data-toggle="tooltip" data-placement="top" title="Larry Robinson" />
                </li>
                <li>
                    <img src="~/img/photos/guy-lafleur.jpg" class="avatarmedium eventavatar rounded-circle"
                         data-toggle="tooltip" data-placement="top" title="Guy Lafleur" />
                </li>
            </ul>
            <!-- Number of participants -->
            <div>
                @Model.Event.Members.Count participants :
                <br />
                @foreach (var item in Model.Event.Members)
                {
                    @item.FullName
                    <br />
                }

                <br />

                @if (SignInManager.IsSignedIn(User))
                {
                    String userId = UserManager.GetUserId(User);
                    bool userFound = false;

                    foreach (var item in Model.Event.Members)
                    {
                        String memberId = item.Id;

                        if (userId.Equals(memberId))
                        {
                            userFound = true;
                        }
                    }

                    if (userFound == false)
                    {
                        @* Afficher JOIN si l'utilisateur n'est pas un participant *@

                        <form asp-controller="Event" asp-action="Join">
                            <input type="hidden" id="Event_Id" name="Event.id" value="@Model.Event.Id">
                            <button type="submit" class="btn btn-success m-1">
                                <i class="fas fa-check" style="width:14px; height:16px"></i>
                                &nbsp;
                                M'inscrire
                            </button>
                        </form>

                    }
                    else
                    {
                        @* Afficher QUIT si l'utilisateur est un participant*@
                    @if( Model.Event.StartDate >  DateTime.Today &&
                        Model.Event.ApplicationUser.Id != UserManager.GetUserId(User) ){

                    
                        <form>
                            <button type="submit" class="btn btn-danger m-1">
                                <i class="fas fa-times" style="width:14px; height:16px"></i>
                                &nbsp;
                                Me d&eacute;sinscrire
                            </button>
                        </form>
                        }
                    }
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        Oups ! Vous n'&ecirc;tes pas connect&eacute;. Veuillez 
                        <a asp-area="Identity" asp-controller="Account" asp-action="Login">vous connecter</a>
                         pour participer !`
                    </div>
                }
                @if(@Model.Event.ApplicationUser.Id == UserManager.GetUserId(User) && 
                     Model.Event.StartDate >  DateTime.Today){
                      <form asp-action="Delete" asp-route-id="@Model.Event.Id">

                    @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                    {
                        <div class="alert alert-danger alert-dismissible fade show col-md-6" role="alert">
                            @Html.ValidationSummary(false, "")
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                    
                    <p>
                        <b>
                            @Html.DisplayFor(model => model.Event.Title)
                        </b>
                    </p>

                    <input type="hidden" />

                    <div class="form-group row">
                        <div class="col-md">
                            <button type="submit" class="btn btn-danger m-1">
                                <i class="fas fa-times" style="width:14px; height:16px"></i>
                                &nbsp;
                                Supprimer
                            </button>
                            <p>Voulez-vous vraiment supprimer cette event?</p>
                        </div>
                    </div>
                </form>



                <p>Souhaitez-vous modifiez cette evenement?</p>

                 <td class="text-right">
                                <a class="btn btn-primary mx-1" asp-action="Edit" asp-route-id="@Model.Event.Id">
                                    <i class="fas fa-edit" style="width:14px; height:16px"></i>
                                </a>
                                

                            </td>
                    @* <form asp-action="Edit"  asp-route-id="@Model.Event.Id">
                        
                               <div class="form-group" style="padding-top:10px;">
                <input type="submit" value="Supprimer" class="btn btn-primary" />
                             </div>
                    </form> *@
                }

            </div>
        </div>
        <hr />
        <!-- PAGE NAVBAR -->
        <div class="mb-4 bg-light border pagenav mt-4">
            <ul class="nav nav-pills nav-fill pagenav" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="projects"
                       aria-selected="true" href="#eventinfo">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="members" aria-selected="false"
                       href="#eventboard">
                        Babillard
                        <!-- <span class="badge badge-dark">1</span> -->
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <!-- EVENT INFO NAVTAB1 -->
            <div class="tab-pane active" id="eventinfo">
                <!-- EVENT DESCRIPTION -->
                <div id="container">
                    <h3>Description</h3>
                    <p class="lead">
                        @Model.Event.Description
                    </p>
                </div>
                <!-- EVENT LOCATION -->
                <div id="container">
                    <h3>Lieu de l'activit&eacute;</h3>
                    <p>

                        <address>
                            @{
                                int civicNumber = Model.Event.Address.CivicNumber;
                                String street = Model.Event.Address.Street;
                                String city = Model.Event.Address.City;
                                String state = Model.Event.Address.State;
                                String postalCode = Model.Event.Address.PostalCode;
                                String country = Model.Event.Address.Country;

                                String query = civicNumber + " " + street + ", " + city + ", " + state + ", " + postalCode + ", " + country;
                                String googleQuery = query.Replace(" ", "+").Replace(",", "%2C");
                            }

                            @Model.Event.Business.Name
                            <br />
                            @civicNumber, @street
                            <br />
                            @city&nbsp;(@state)&nbsp;&nbsp;@postalCode
                            <br />
                            @country
                        </address>

                        <a href="https://www.google.com/maps/search/?api=1&query=@googleQuery"
                           target="_blank">Afficher sur la carte</a>
                    </p>
                    <h5>Précisions</h5>
                    <p>Veuillez entrer par la porte sur le c&ocirc;t&eacute; de l'ar&eacute;na, porte SH-2460</p>
                </div>
                <!-- EVENT CATEGORY -->
                <div>
                    <h3>Cat&eacute;gorie</h3>
                    <ul class="eventcategorylist pl-0">
                        <li>
                            <a href="#" class="badge badge-pill badge-primary">@Model.Event.EventType.Title</a>
                        </li>
                        <!--
                        <li>
                            <a href="#" class="badge badge-pill badge-info">sport</a>
                        </li>
                        <li>
                            <a href="#" class="badge badge-pill badge-danger">activit&eacute; ext&eacute;rieure</a>
                        </li>
                            -->
                    </ul>
                </div>
            </div>
            <!-- EVENT BOARD TAB2 -->
            <div class="tab-pane" id="eventboard">
                <!-- BOARD  -->
                <div>
                    <h3>Babillard</h3>
                    <!-- NEW MESSAGE FORM -->
                    <form asp-action="Commenter"  asp-route-id="@Model.Event.Id">
                        <div class="form-group">
                            <label for="eventnewboardmessage">Publier un message</label>
                              <div class="form-group no-gutters">
                                    
                            <textarea class="form-control" asp-for="@Model.commentaire"
                                 id="eventnewboardmessage" rows="2">

                            </textarea>

                             <div class="form-group" style="padding-top:10px;">
                <input type="submit" value="Envoyer" class="btn btn-primary" />
                             </div>
                         
                            @* <button type="submit" class="btn btn-primary mt-2">Envoyer</button> *@
                        </div>
                    </form>
                    <!-- BOARD MESSAGE LIST -->

                    @foreach (var item in Model.Event.Commentaires)
                                    {
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="p-3 align-middle col-md-auto text-center">
                                <img src="~/img/photos/guy-lafleur.jpg" class="card-img avatarsmall rounded-circle"
                                     alt="...">
                            </div>

                            
                            <div class="col-md-11">
                                
                                <div class="card-body pl-0">
                                    <h5 class="card-title mb-1">
                                        @Html.DisplayFor(itemModel => item.User.FirstName ) 
                                        @Html.DisplayFor(itemModel => item.User.LastName ) 
                                        <small class="text-muted">Il y a 28 minutes</small>
                                    </h5>

                                    <p class="card-text">                                     
                                        @Html.DisplayFor(itemModel => item.Content)
                                    </p>
                                </div>
                            </div>
                                    

                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>