@model IEnumerable<Models.Business>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html class="h-100" lang="fr-ca">
<head>
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicon here -->
</head>

<h1>Nos Entreprises </h1>

@if (SignInManager.IsSignedIn(User)) {
@if (User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>
   }


<div class="container">

<table class="table text-center">
    <thead>
        <tr class="row">
            <th class="col-sm-2">
              @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address.City)
            </th>

            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Events)
            </th>
             <th class="col-sm-2">
             
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="row">
            <td class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Address.City),
                (@Html.DisplayFor(modelItem => item.Address.CivicNumber)),
                @Html.DisplayFor(modelItem => item.Address.Country)
                
            </td>
             <td class="col-sm-2">
            @foreach (var oneEvent in item.Events) {
           
                @Html.DisplayFor(modelEvent => oneEvent.Title)
                <br/>
            }
            </td>
            
            
            @if (User.IsInRole("Admin")){
            <td class="col-sm-2">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
           
            </td>
            }
        </tr>
}
    </tbody>
</table>
</div>
}

@*      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@