@model IEnumerable<Models.Business>
    @inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Nos Entreprises </h1>

@if (SignInManager.IsSignedIn(User)) {
@if (User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>
    }



<table class="table">
    <thead>
        <tr>
            <th>
              @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Events)
            </th>
             <th>
                Actions
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City),
                (@Html.DisplayFor(modelItem => item.Address.CivicNumber)),
                @Html.DisplayFor(modelItem => item.Address.Country)
                
            </td>
            @foreach (var oneEvent in item.Events) {
            <td>
                @Html.DisplayFor(modelEvent => oneEvent.Title)
            </td>
            
            }
            @if (User.IsInRole("Admin")){
            <td style="min-width: 200px">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
           
            </td>
            }
        </tr>
}
    </tbody>
</table>
}
@*      <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@