@model webapp.Models.Entreprise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entreprise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterPriseAdresseHQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterPriseAdresseHQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterPrisePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterPrisePhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
